{% from 'macros/button.twig' import button %}
{% from 'macros/button.twig' import button %}
{% from 'macros/filters.twig' import filters %}
{% from 'macros/marquee.twig' import marquee %}
{% from 'macros/media-one.twig' import mediaOne %}
{% from 'macros/media-two.twig' import mediaTwo %}
{% from 'macros/media-three.twig' import mediaThree %}
{% from 'macros/pagination.twig' import pagination %}

{% extends "base.twig" %}

{% block main %}
  <div class="container mx-auto py-48 px-10 md:px-24">
    <h3 class="mb-24 font-display text-xl text-blue-500 font-medium">Search results for: <span class="font-bold">{{ search_query }}</span></h3>
    <div class="md:flex md:flex-wrap md:-mx-10" data-role="filters-target">
      {% for item in posts %}
        <div class="md:w-1/2 md:px-10">
          {% set image = Image(item.image) %}
          {{ mediaThree({
            title: item.title,
            date: item.date,
            byline: item.byline,
            url: item.link,
            image: {
              src: image.src('insight_thumbnail_below_fold'),
              alt: image.alt
            }
          }) }}
        </div>
      {% endfor %}
    </div>
    {{ pagination({
      posts: posts.pagination
    }) }}
  </div>
  {% include 'includes/components.twig' %}
{% endblock %}